Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
a="elin"
a

'elin'

In [2]:
l=[1,2,3,4,"sudh",20.5,345.67]
l

[1, 2, 3, 4, 'sudh', 20.5, 345.67]

In [3]:
f=20.5
f

20.5

In [4]:
t=(1,2,3,4,"niti","k",45.6)
t

(1, 2, 3, 4, 'niti', 'k', 45.6)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [5]:
var1=''
type(var1)

str

In [6]:
var2='[ DS , ML , Python]'
var2

'[ DS , ML , Python]'

In [7]:
type(var2)

str

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]
var3
type(var3)

list

In [10]:
var4=1
var4
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [11]:
# (i) / (division operator) is an arithmetic operator
a=4
b=2
c=4/2
print(c)

2.0

In [12]:
# (i) % (modulo operator) is an arithmetic operator
a=4
b=2
c=4%2
print(c)

0

In [13]:
# (i) // (floor operator) is an arithmetic operator
a=6
b=4
c=6//4
print(c)

1

In [14]:
# (i) ** (power or exponential operator) is an arithmetic operator
a=4
b=2
c=4**2
print(c)

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [15]:
l=[1,2,3,4,"adi","z",30.6,24.5,2345.6789,100]
l

[1, 2, 3, 4, 'adi', 'z', 30.6, 24.5, 2345.6789, 100]

In [17]:
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
adi
<class 'str'>
z
<class 'str'>
30.6
<class 'float'>
24.5
<class 'float'>
2345.6789
<class 'float'>
100
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [3]:
a=int(input("enter number A:"))
b=int(input("enter number B:"))
i=0
while(a%b==0):
    a=a/b
    i=i+1
print("number is purely divisible for:",i,"times")

enter number A: 40
enter number B: 2

number is purely divisible for: 3 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [4]:
li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in li:
    if((i%3)==0):
        print(i,"is divisble by 3")
    else:
        print(i,"not divisible by 3")

1 not divisible by 3
2 not divisible by 3
3 is divisble by 3
4 not divisible by 3
5 not divisible by 3
6 is divisble by 3
7 not divisible by 3
8 not divisible by 3
9 is divisble by 3
10 not divisible by 3
11 not divisible by 3
12 is divisble by 3
13 not divisible by 3
14 not divisible by 3
15 is divisble by 3
16 not divisible by 3
17 not divisible by 3
18 is divisble by 3
19 not divisible by 3
20 not divisible by 3
21 is divisble by 3
22 not divisible by 3
23 not divisible by 3
24 is divisble by 3
25 not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [5]:
#list are mutable data types as you can assign new data,modify existing data or delete old data
#strings are not mutable data type as you cannot assign new data,modify existing data or delete old data
li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
li[1]
li[1]=20